BODY {
	FONT-WEIGHT: normal; FONT-SIZE: 0.8em; WORD-SPACING: normal; TEXT-TRANSFORM: none; FONT-FAMILY: Verdana, Helvetica, sans-serif; LETTER-SPACING: normal; BACKGROUND-COLOR: white
}
H1 {
	COLOR: #003366
}
H2 {
	COLOR: #003366
}
H3 {
	COLOR: #003366
}
H4 {
	COLOR: #003366
}
H5 {
	COLOR: #003366
}
TH {
	COLOR: #003366
}
THEAD {
	COLOR: #003366
}
TFOOT {
	COLOR: #003366
}
H1 {
	FONT-WEIGHT: 700; FONT-SIZE: 2em; WORD-SPACING: normal; TEXT-TRANSFORM: none; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: normal; TEXT-DECORATION: none
}
H2 {
	FONT-WEIGHT: 700; FONT-SIZE: 1.75em; WORD-SPACING: normal; TEXT-TRANSFORM: none; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: normal; TEXT-DECORATION: none
}
H3 {
	FONT-WEIGHT: 500; FONT-SIZE: 1.58em; WORD-SPACING: normal; TEXT-TRANSFORM: none; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: normal; TEXT-DECORATION: none
}
H4 {
	FONT-WEIGHT: 500; FONT-SIZE: 1.33em; WORD-SPACING: normal; TEXT-TRANSFORM: none; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: normal; TEXT-DECORATION: none
}
H5 {
	FONT-WEIGHT: 700; FONT-SIZE: 1em; WORD-SPACING: normal; TEXT-TRANSFORM: none; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: normal; TEXT-DECORATION: none
}
DT {
	FONT-WEIGHT: 700; FONT-SIZE: 1em; WORD-SPACING: normal; TEXT-TRANSFORM: none; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: normal; TEXT-DECORATION: none
}
H6 {
	FONT-WEIGHT: 700; FONT-SIZE: 0.8em; WORD-SPACING: normal; TEXT-TRANSFORM: none; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: normal; TEXT-DECORATION: none
}
TFOOT {
	FONT-SIZE: 1em; WORD-SPACING: normal; TEXT-TRANSFORM: none; FONT-FAMILY: Arial, Helvetica, sans-serif; LETTER-SPACING: normal
}
THEAD {
	FONT-SIZE: 1em; WORD-SPACING: normal; TEXT-TRANSFORM: none; FONT-FAMILY: Arial, Helvetica, sans-serif; LETTER-SPACING: normal
}
TH {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; WORD-SPACING: normal; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; FONT-FAMILY: Arial, Helvetica, sans-serif; LETTER-SPACING: normal
}
A:link {
	COLOR: #3333cc; TEXT-DECORATION: none
}
A:visited {
	COLOR: #333399; TEXT-DECORATION: none
}
A:active {
	COLOR: #333399; TEXT-DECORATION: none
}
A:hover {
	COLOR: orange; TEXT-DECORATION: none
}
SMALL {
	FONT-SIZE: 0.7em
}
BIG {
	FONT-SIZE: 1.17em
}
BLOCKQUOTE {
	FONT-FAMILY: Courier New, monospace
}
PRE {
	FONT-FAMILY: Courier New, monospace
}
UL LI {
	LIST-STYLE-TYPE: square
}
UL LI LI {
	LIST-STYLE-TYPE: disc
}
UL LI LI LI {
	LIST-STYLE-TYPE: circle
}
OL LI {
	LIST-STYLE-TYPE: decimal
}
OL OL LI {
	LIST-STYLE-TYPE: lower-alpha
}
OL OL OL LI {
	LIST-STYLE-TYPE: lower-roman
}
.Norm {
	FONT-SIZE: 8pt; FONT-FAMILY: Nesf2
}
.NormBig {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Nesf2
}
.NormWT {
	FONT-SIZE: 8pt; COLOR: white; FONT-FAMILY: Nesf2
}
.Small {
	FONT-SIZE: 6pt; FONT-FAMILY: Nesf2
}
.SmallWt {
	FONT-SIZE: 7pt; COLOR: white; FONT-FAMILY: Nesf2
}
.NormEg {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial
}
.NormEgBig {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Arial
}
.NormEgWT {
	FONT-SIZE: 10pt; COLOR: white; FONT-FAMILY: Arial
}
.LargEg {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; FONT-FAMILY: Arial
}
.LargEgWT {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #e4bba7; FONT-FAMILY: Arial
}
.MnuLink {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: white; FONT-FAMILY: Nesf2
}
.IDNO {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; FONT-FAMILY: verdana
}
.SmallEgWt {
	FONT-SIZE: 8pt; COLOR: white; FONT-FAMILY: Arial
}
.SmallEg {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial
}
